<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <title>Mathematics</title>
    <link rel="stylesheet" href="/css/table.css">
      <table>
        <tr>
          <th colspan="20"><a href="/Mathematics/">Mathematics</a></th>
        </tr>
        <tr>
          <th colspan="3">Mathematical Logic</th>
          <th colspan="3">Set Theory</th>

          <th colspan="2">Algebra</th>
          <th colspan="2">Geometry</th>
          <th colspan="3">Analysis</th>
        </tr>
      </table>

    </main>
    <footer></footer>
  </body>
</html>
