<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <title>Computer Science</title>
    <link rel="stylesheet" href="/css/table.css">
      <table>
        <tr>
          <th colspan="20"><a href="/ComputerScience/">Computer Science</a></th>
        </tr>

        <tr>
          <th colspan="3">Mathematical Foundations</th>
          <th colspan="3">Theory of computation</th>

          <th colspan="2">The Computer as a System</th>
          <th colspan="2">Inter-Computer Communication</th>
          <th colspan="3">Information Processing</th>
        </tr>

        <tr>
          <!-- ComputerScience/MathematicalFoundations -->
          <th colspan="">Logics</th>
          <th colspan="">Statistics</th>
          <th colspan="">Graph Theory</th>

          <!-- ComputerScience/TheoryOfComputation -->
          <th colspan="">Programming language theory</th>
          <th colspan="">Formal methods</th>
          <th colspan="">Algorithms and data structures</th>

          <!-- ComputerScience/ComputerSystem -->
          <th colspan="">Computer Architecture</th>
          <th colspan="">Concurrency & Distributed Computing</th>

          <!-- ComputerScience/InterComputerCommunication -->
          <th colspan="">Computer Networks</th>
          <th colspan="">Computer Security</th>

          <!-- ComputerScience/InformationProcessing -->
          <th colspan="">Computer Graphics </th>
          <th colspan="">Audio/Video Processing</th>
          <th colspan="">Artificial intelligence</th>
      </table>

    </main>
    <footer></footer>
  </body>
</html>
